<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="5.4.1" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="5.15.3" targetFramework="net472" />
  <package id="GemBox.Spreadsheet" version="47.0.1029" targetFramework="net472" />
  <package id="Microsoft.Chart.Controls" version="4.7.2046" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.8.0.1451" targetFramework="net472" />
</packages>